<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Info.X"         value="42" />
    <add key="Info.Y"         value="1" />
    <add key="View.X"         value="1" />
    <add key="View.Y"         value="1" />
    <add key="View.Width"     value="40" />
    <add key="View.Height"    value="20" />
    <add key="Console.Width"  value="80" />
    <add key="Console.Height" value="25" />
    
    <add key="Maze.Width"       value="20" />
    <add key="Maze.Height"      value="20" />
    <add key="Maze.Coins"       value="10" />
    <add key="Maze.LightRadius" value="5" />
    <add key="Maze.Seed"        value="12345" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>