<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Title" value="E1M5 - Working with config helper" />
    <add key="Width" value="80" />
    <add key="Height" value="25" />
    <add key="CursorVisible" value="false" />
    <add key="Fill.Char" value="#" />
    <add key="Fill.Fore" value="LightGray" />
    <add key="Fill.Back" value="DarkGray" />
  </appSettings>
</configuration>